@using OMTechStation.PropertyPublicity.Web.Models.Common.Modals
@model OMTechStation.PropertyPublicity.Web.PP.Models.Areas.AreaListViewModel
@{
    Layout = null;
}
<div class="modal fade" id="AreaCreateModal" tabindex="-1" City="dialog" aria-labelledby="AreaCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" area="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewArea")))
            <form name="AreaCreateForm" area="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="areaname">@L("AreaName")</label>
                        <div class="col-md-9">
                            <input id="areaname" type="text" name="Name" class="form-control" required maxlength="32" minlength="2">
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="areaname">@L("AreaName")</label>
                        <div class="col-md-9">
                            @Html.DropDownListFor(s => s.CityId, Model.Cities)
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="CreateUserIsActive">@L("IsActive")</label>
                        <div class="col-md-9">
                            <input type="checkbox" name="IsActive" value="true" id="CreateUserIsActive" checked />
                        </div>
                    </div>
                </div>

                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
