@using OMTechStation.PropertyPublicity.Web.Models.Common.Modals
@model OMTechStation.PropertyPublicity.Web.PP.Models.Countries.CountryListViewModel
@{
    Layout = null;
}
<div class="modal fade" id="CountryCreateModal" tabindex="-1" Country="dialog" aria-labelledby="CountryCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" country="document">
        <div class="modal-content">
            @await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("CreateNewCountry")))
            <form name="CountryCreateForm" country="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row required">
                        <label class="col-md-3 col-form-label" for="countryname">@L("CountryName")</label>
                        <div class="col-md-9">
                            <input id="countryname" type="text" name="Name" class="form-control" required maxlength="32" minlength="2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="checkbox" name="isactive" id="isactive-IsActive" checked="checked" />
                            <label for="permission-isactive">Is Active</label>
                        </div>

                    </div>
                </div>

                @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
            </form>
        </div>
    </div>
</div>
